html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
    color: white;
    font-family: "Nunito", sans-serif;
}
#mainNavbar {
    font-size: 1.2em;
    background-color: black;
}

#mainNavbar .navbar-brand{
    color: #f72585;
    border: solid;
    margin-top: 0.2em;
    padding: 0; 
    font-size: 1.5em;
    /* font-weight: 100; */
    transition: all 1s;
}
#mainNavbar .navbar-brand:hover{
    color: #ffb703;
    text-shadow: 0 0 7px #ffb703;
    
}
#mainNavbar .nav-link:hover{
    color: #f72585;
}

.container{
    font-family: 'Space Grotesk', sans-serif;
    padding: 2em;
    display: flex;
    /* border: solid; */
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    
    /* text-align: center; */
}
.typist{
    color: white;
    font-size: 68px;
    text-align: center;
    font-family: 'Space Grotesk', sans-serif;
}
.text_highlight{
    color: #f72585;
}

.ed_sec{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    transition: all 1s;
    
}

    
.editems{
    background-color: #212121;
    border-radius: 6px;
    margin: 15px;
    /* vertical and horizontal padding */
    padding: 23px 20px;      
}

.ed_sec h3:hover{
    text-shadow: 0 0 7px #ffb703;
}
.ed_sec h3 a:hover{
    text-shadow: none;
    text-decoration: underline;
    color: #bd3239;
}
.editems1{
    font-family: "Nunito", sans-serif;
    margin-top: 8px;
    word-spacing: 2px;
    font-size: 20px;
}

.researchitem{
    color: #f72585;
    font-size: 23px;
}

.ed_sec1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
}
.ed_sec1 a{
    text-decoration: none;
    color: white;
}
.ed_sec1 a:hover{
    text-decoration: underline;
    color: #bd3239;
}
a{
    text-decoration: none;
    color: #bd3239;
}

@media (max-width:485px){   /*from 0px - 750px width, the margin-top: 0*/

    .typist{     /*changed the value of margin-top in .container class*/
        font-size: 45px;
    }
    .ed_sec{
        width: 100%;
    }
}